@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
:root {
  --base-font-family: "Nunito Sans";
  --background:#121b23;
  --text-color:#a0b9d0;
  
}

* {
  font-family: var(--base-font-family);
  
}
body {
  margin: 0;
  min-width: 320px;
  height: 100vh;
  font-weight: 400;
  background-color: var(--background);
  color: var(--text-color);
}
